/* "Table 1" Section */
table, th, td, .center-align {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    /*vertical-align: middle*/
}
.containerX{
    display: flex;
}
.containerX div{
    padding: 10px 50px;
}
.containerX img{
    width: 100px;
    height: 100px;
}

body {
    background: rgb(152,255,228);
background: linear-gradient(90deg, rgb(255, 255, 249) 0%, rgb(130, 130, 130) 56%, rgba(0,212,255,1) 100%);
}

.acadInfo{
    margin-left: 105px;
}

.w3-class{
    margin-left: 94px !important;
}