<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item active"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">


					
					<h2 style="padding-top: 50px; color: rgb(97, 5, 5);">Welcome to my first ever website!</h2>
					<p>Welcome to the world of web programming, where possibilities are limitless, and innovation knows no bounds. Let's embark on this adventure together!
					<hr>	
					</p>					
					<h2 style="padding-top: 50px; color: rgb(0, 0, 0);">About Myself . . . </h2>
					<p>Hello there! My name is <b>Sherwin Navarra</b>, and I am a student currently enrolled in the <b>Business IT program</b> at <b>Seneca</b> with my student number <b>121189229.</b><br> It's an exciting journey as I delve into the world of web programming and explore the fusion of technology and business.<br>  
						I am dedicated to expanding my knowledge, honing my skills, and applying them to real-world scenarios. <br>Join me as I navigate the ever-changing landscape of web programming and discover the exciting possibilities it holds. <br>Let's embark on this educational adventure together!<br><br>
						The purpose of my web programming journey is to unlock the endless possibilities of the digital world. Through learning web programming, I aim to:<br>
						<br>
						<b style="color: rgb(79, 129, 204);">Build a Strong Foundation:</b> I strive to gain a solid understanding of fundamental web technologies such as HTML, CSS, and JavaScript. 
						By mastering these core languages, I can create captivating and interactive web experiences. <br><br>
						<b style="color: rgb(79, 129, 204);">Bring Ideas to Life:</b> Web programming enables me to transform my creative ideas into tangible digital products. Whether it's developing a personal website, an e-commerce platform, or a web application, I want to turn my vision into reality.<br><br>
						<b style="color: rgb(79, 129, 204);"> Expand my Skill Set:</b> By learning web programming, I am broadening my skill set and enhancing my career opportunities. The demand for web developers continues to grow, and I want to stay relevant and adaptable in the ever-evolving digital landscape.<br><br>
						<b style="color: rgb(79, 129, 204);">Foster User Engagement:</b> I believe that well-crafted websites have the power to captivate and engage users. Through web programming, I aim to create user-friendly interfaces, optimize performance, and deliver seamless user experiences.<br><br>
						<b style="color: rgb(79, 129, 204);">Embrace Continuous Learning:</b> Web programming is a field that constantly evolves. I am committed to embracing lifelong learning and staying up-to-date with emerging technologies, frameworks, and best practices to enhance my skills and deliver cutting-edge solutions.<br><br>
						Ultimately, my purpose in learning web programming is to make a positive impact in the digital realm. 
						I want to create meaningful, user-centric web experiences that inspire, inform, and empower others.<br><br>
						
						Thank you for joining me on this journey of learning and growth. <br>Let's harness the power of web programming together and make a difference in the digital world!
					</p>



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>