<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/theme.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item active"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/student" target="_blank">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas" target="_blank">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses" target="_blank">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<!-- Start your code here -->
                    <form method="POST" action="/students/add" class="w3-container">
                      <h2>Personal Information</h2>
                      <p>
                          <input class="w3-input" type="text" name="firstName" id="firstName">
                          <label>First Name</label></p>
                          <p>     
                          <input class="w3-input" type="text" name="lastName" id="lastName">
                          <label>Last Name</label></p>
                          <input class="w3-input" type="text" name="email" id="email">
                          <label>Email</label></p>
                          <label>Address</label>
                          <div class="w3-row-padding">
                              
                              <div class="w3-third">
                                <input name="addressStreet" id="addressStreet" class="w3-input w3-border" type="text" placeholder="Street" >
                              </div>
                              <div class="w3-third">
                                <input name="addressCity" id="addressCity" class="w3-input w3-border" type="text" placeholder="City">
                              </div>
                              <div class="w3-third">
                                <input name="addressProvince" id="addressProvince" class="w3-input w3-border" type="text" placeholder="Province">
                              </div>
                            </div>
                            <h3>Academic Information</h3>
                            <span class="acadInfo">College Employment:</span><span class="acadInfo">Enrollment Status:</span><span class="acadInfo">Enrolled in Course:</span>
                            <br>
                            <input class="w3-check" type="checkbox" checked="checked" style="    margin-left: 99px !important;" id="TAss" name="TA" value="True"><label>Teaching Assistant</label>
                            <input class="w3-radio" type="radio" id="status" value="Full Time" checked style="margin-left:86px !important;" name="status">
                          <label>Full Time</label>

                          <input class="w3-radio" type="radio" id="status" value="Part Time" name="status">
                          <label>Part Time</label>

                          <select name="course" id="course" class="w3-select" name="option" style="    width: 20% !important; margin-left: 50px !important;">
                              <option value="" disabled selected>Choose your option</option>
                              <option value="1">Relational Database Design and Implementation</option>
                              <option value="2">Java Programming</option>
                              <option value="3">Introduction to Cloud Computing </option>
                              <option value="4">Database Administration and Management </option>
                              <option value="5">Web Programming </option>
                              <option value="6">Applied Capstone Project </option>
                              <option value="7">Database Connectivity Using Java</option>
                              <option value="8">Accessing Big Data </option>
                              <option value="9">Datawarehousing </option>
                              <option value="10">Security in Databases and Web Applications </option>
                              <option value="11">Work Term Preparation (Work-Integrated Learning option only) </option>

                            </select>
                            <br><br>
                            <button class="w3-button w3-grey" type="submit">Submit</button>



                    </form>

					<!-- End your code here  -->



				</main>
			</div>
		</div>
    <script>
      var chbxk = document.getElementbyId('TAs');

      chbxk.addEventListener('change', () => {
        chbxk.value = chbxk.checked ? 'True' : 'False';
      });
    </script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>