<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="/theme.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
					
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">

				<hr>
					<!-- Table 1 -->
					<h1 style="color: rgb(115, 3, 3); font-size: 34px; text-align: center;">WanBol College Student Records</h1><hr>
					<div class="containerX table">
						<div>
							<h3 style="color: rgb(47, 6, 124); font-size: 20px; text-align: center;">Summer 2023 Intake</h3><table>
								<caption>Mid-Term Grades</caption>
								<thead>
								  <tr>
									<th colspan="2">Student Name</th>
									<th colspan="1">Section</th>
									<th colspan="1">Grade</th>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td>Dela Cruz</td>
									<td>Juan</td>
									<td>ZAA</td>
									<td>A</td>
								  </tr>
								  <tr>
									<td>Zapanta</td>
									<td>Karding</td>
									<td>ZAA</td>
									<td>F</td>
								  </tr>
								</tbody>
								<tfoot>
								  <tr>
									<td>Bato</td>
									<td>Bartolo</td>
									<td>ZBB</td>
									<td>B</td>
								  </tr>
								  
								</tfoot>
							  </table>
						</div>
					<div>
						<h3 style="color: rgb(47, 6, 124); font-size: 20px; text-align: center;">Academic Records</h3><table>
							<caption>Course History</caption>
							<thead>
							  <tr>
								<th>Class</th>
								<th>Description</th>
								<th>Term</th>
								<th>Grade</th>
								<th>Units</th>
								<th>Status</th>
							<!--<th colspan="4">Savings</th> -->

							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td>WEB700</td>
								<td>Web Programming</td>
								<td rowspan="4" vertical-align>Summer 2023</td>
								<td>A</td>
								<td>3.00</td>
								<td>In Progress</td>

							  </tr>
							  <tr>
	
								<td>OSM720</td>
								<td>Admin of Microsoft Sys</td>
							<!--	<td>Summer 2023</td>-->
								<td>A</td>
								<td>3.00</td>
								<td>In Progress</td>
							  </tr>
							  <tr>
								<td>OSL740</td>
								<td>Admin of Open Source Sys</td>
							<!--	<td>Summer 2023</td>-->
								<td>B</td>
								<td>3.00</td>
								<td>In Progress</td>
							  </tr>
							  <tr>
								<td>NWK780</td>
								<td>Traditional Networks</td>
							<!--	<td>Summer 2023</td>-->
								<td>B</td>
								<td>3.00</td>
								<td>In Progress</td>
							<tr>
								<td>NWK680</td>
								<td>Introduction to Networks</td>
								<td rowspan="2">Winter 2023</td>								
								<td>B</td>
								<td>3.00</td>
								<td>Taken</td>
							</tr>	
							<tr>	
							  <td>DBS610</td>
							  <td>Introduction to Database Sys</td>
							 <!--<td>Winter 2023</td>-->
							  <td>B</td>
							  <td>3.00</td>
							  <td>Taken</td>
							</tr>						
														  
							</tbody>
							<tfoot>

							  
							</tfoot>
						  </table>						
					</div>			
					</div>			
					
					<!-- End of "Table 1" section -->

					<!-- (Unordered List) Wanbol College Campuses -->
					<hr>
					<h2 style="padding-top: 20px;">Wanbol College Campuses</h2>
					<div class="containerX list">
						<div class="div1">
							
							<ul>
							  <li><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Church_in_Kalibo%2C_Aklan%2C_Philippines.jpg/1600px-Church_in_Kalibo%2C_Aklan%2C_Philippines.jpg?20190727101151
								">Kalibo Campus</a></li>
							<li><a href="https://upload.wikimedia.org/wikipedia/commons/6/62/Banga_Town_Rotunda.jpg">Banga Campus</a></li>
							<li><a href="https://upload.wikimedia.org/wikipedia/commons/5/57/Makato_Sports_Complex.jpg">Makato Campus</a></li>
							<li><a href="https://scontent.fyzd1-2.fna.fbcdn.net/v/t1.6435-9/65317943_2459612510737119_7207254413189054464_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=mrX_4ffDruIAX-F77lw&_nc_ht=scontent.fyzd1-2.fna&oh=00_AfDQLPMHHqRWffBr25cENgStdlMuONjDKSA7S9XmX5vpLg&oe=64B4B272">Libacao Campus</a></li>
							<!--<li><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYaz9jIjTPf-f-DGAz1uOpIpPYRHuIHJJHZw&usqp=CAU">Malay Campus</a></li>-->
							<li><a href="http://travel.philippinecentral.com/wp-content/uploads/2014/06/boracay_sand_castle.jpg">Malay Campus</a></li>
							<li><a href="https://farm8.staticflickr.com/7022/6816730271_351b542d4e_o.jpg">New Washington Campus</a></li>
							</ul>  
							<p>This is unordered list in HTML</p>
						
						</div>
					</div>
					
					<!-- (Orded List) Programs Offered-->
					<hr>
					<h2 style="padding-top: 20px;">Programs Offered</h2>
					<div class="containerX list">
						<div class="div2">
						  
						  <ol>	
							<li>Business Information Technology</li>
							<li>Cloud Architecture & Administration </li>
							<li>Computer Engineering Technology </li>
							<li>Computer Programming </li>
							<li>Computer Systems Technician </li>
							<li>Cybersecurity & Threat Management </li>
						  </ol>  
							<p>This is ordered list in HTML</p>
						</div>
						</div>
					</div>
					<!-- End of List -->

						<!-- Images -->
						<hr>
						<h2>Campus Images</h2>
						<div class="containerX img">
							<div class="div1">								  
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Church_in_Kalibo%2C_Aklan%2C_Philippines.jpg/1600px-Church_in_Kalibo%2C_Aklan%2C_Philippines.jpg?20190727101151
								" alt="campus1">
								<p>Kalibo Campus</p>
							</div>
							<div class="div2">
								<img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Banga_Town_Rotunda.jpg" alt="campus2">
								<p>Banga Campus</p>
							</div>
							<div class="div3">
								<img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Makato_Sports_Complex.jpg" alt="campus3">
								<p>Makato Campus</p>
							</div>
							<div class="div4">
								<img src="https://scontent.fyzd1-2.fna.fbcdn.net/v/t1.6435-9/65317943_2459612510737119_7207254413189054464_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=mrX_4ffDruIAX-F77lw&_nc_ht=scontent.fyzd1-2.fna&oh=00_AfDQLPMHHqRWffBr25cENgStdlMuONjDKSA7S9XmX5vpLg&oe=64B4B272" alt="campus4">
								<p>Libacao Campus</p>
							</div>
							<div class="div5">
								<img src="http://travel.philippinecentral.com/wp-content/uploads/2014/06/boracay_sand_castle.jpg" alt="campus5">
								<p>Malay Campus</p>
							</div>
							<div class="div6">
								<img src="https://farm8.staticflickr.com/7022/6816730271_351b542d4e_o.jpg" alt="campus6">
								<p>New Washington Campus</p>
							</div>
						</div>
						<!-- End of Image Block -->					
						<!-- Audio BLock -->
						<hr>
						<h2>Music</h2>
						<!--<div class="containerX img">-->
							<audio controls="">
								<source src="https://slyhits.com/wp-content/uploads/2021/11/Return-To-Innocence-Enigma.mp3" type="audio/mpeg">
								Your browser does not support the audio tag.
							  </audio>
							  <p>This section contains an HTML5 audio player where you can listen to the audio content. <br>
								Enjoy the music or audio tracks conveniently right on this webpage.
							</p>
				
						<!-- End Audio Block-->
						<!-- Audio Block -->
						<hr>
						<h2>Video</h2>
						<!--<div class="containerX vid">-->
								<div>
								  <video controls>
									<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
									<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
									<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
									Your browser does not support the video tag.
								  </video>
								</div>
								<p>This music video showcases a mesmerizing sample content that will effortlessly captivate you.
								<br> So, sit back, relax, and allow yourself to truly savor and enjoy every moment!!</p>
						
						<!-- End of Video Block -->
					<!-- End of code -->
    			</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>